<button 
    role="tab"
    id={{this.tabID}}
    aria-selected={{if this.isPanelIDHidden "false" "true"}}
    aria-controls={{this.panelID}} type="button" {{on "click" (fn @tabState.handleButtonClick @index)}}>
  {{yield}}
</button>