<div role="tabpanel"
    id={{this.panelID}}
    aria-hidden={{if this.isHidden "true" "false"}}
    aria-labelledby={{this.tabID}}
    hidden={{this.isHidden}}
    ...attributes
    >
  {{yield}}
</div>