{{page-title "Dummy"}}

<EmberBasicTabs::TabList 
    @tabState={{this.myTabState}}
    as |tl|>
  {{#each this.myTabState.tabs as |tab index|}}
    <li role="presentation" 
        class={{if (eq this.myTabState.selectedIndex index) "isActive"}}>
      <tl.tab @index={{index}}>
        {{tab.title}}
      </tl.tab>
    </li>
  {{/each}}
</EmberBasicTabs::TabList>

<EmberBasicTabs::TabPanels 
    @tabState={{this.myTabState}}
    as |tl|>
  {{#each this.myTabState.tabs as |tab index|}}
    <tl.panel @index={{index}}>
      {{tab.content}}
    </tl.panel>
  {{/each}}
</EmberBasicTabs::TabPanels>

{{outlet}}